<h1 id="title">Welcome to the best horror game eva!</h1>
<div id="content">
    <table>
        <tr><td>IP:</td><td><input id="ip" type="text" name="ip" value="192.168.43.244"></td></tr>
        <tr><td>PORT:</td><td><input id="port" type="number" name="port" value="3333"></td></tr>
    </table>
    <br>
    <button id="connect" type="button">Connect to Game</button>
</div>