<!DOCTYPE html>
<html>
    <head>
        <title>Horror Game</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/jquery-2.2.3.min.js"></script>
        <script src="/javascripts/jquery-ui.min.js"></script>
        <script src="/javascripts/socket.io.js"></script>
        <script src="/javascripts/index.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
